<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>First App by Ryo</title>
        <link rel="styleseet" href="/static/firstapp.css">
        <!-- <link href="oshimen.html" rel="推しメン検索ページ"> -->
        <script type="text/javascript" src="/static/firstapp.js"></script>
    </head>
    <body>
        <h1><img src="http://livedoor.blogimg.jp/matomato455-keyaki46/imgs/8/8/881c9a1a.jpg"></h1>
        <p>{{message}}</p>
        <p>小坂菜緒ﾀﾞﾖ</p>
        <a href="oshimen">推しメン検索ページ</a>
    </body>
</html>